@font-face {
    font-family: 'Metal Mania';
    src: url('fonts/metal_mania/Metal\ Mania.ttf') format('truetype');
}

body {
    font-family: 'Metal Mania', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
}
.single-image {
    display: flex;
    justify-content: center;
    align-items: center;  /* Ajoutez align-items pour un centrage vertical */
    margin-left: auto;
    margin-right: auto;
    padding: 10px; /* Espace autour de l'image si nécessaire */
    width: 100%; /* Assurez-vous que le conteneur occupe toute la largeur disponible */
}

.single-image img {
    width: 80%;    /* L'image prendra toute la largeur disponible */
    max-width: 250px;  /* Taille maximale de l'image */
    height: auto;   /* La hauteur est ajustée automatiquement pour maintenir les proportions */
    display: block; /* Eviter tout espace en dessous de l'image */
    margin: 0 auto;  /* Assurez-vous que l'image est centrée horizontalement */
}

.single-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 0;  /* Optionnel : Si vous souhaitez enlever tout espacement autour de l'image */
    margin: 0 auto;  /* Centrer le conteneur */
}

.single-image img {
    display: block;   /* Supprimer l'espace en dessous de l'image */
    width: 80%;        /* L'image prendra toute la largeur du conteneur */
    max-width: 400px;   /* Limiter la taille de l'image */
    height: auto;       /* La hauteur s'ajuste automatiquement pour préserver les proportions */
}

/* Media query pour les petits écrans */
@media (max-width: 768px) {
    .single-image img {
        width: 100%;       /* L'image prendra toute la largeur disponible */
        max-width: 500px;  /* Limitation de la taille maximale */
        margin-top: 5px;   /* Ajuster la marge supérieure sur mobile */
        margin-bottom: 5px;   /* Ajuster la marge inférieure sur mobile */
        margin-left: 10px;    /* Ajuster la marge gauche sur mobile */
        margin-right: 10px;   /* Ajuster la marge droite sur mobile */
    }
}

/* Header */
header {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
}

header h1 {
    font-family: 'Metal Mania';
    margin: 0;
    font-size: 2.5rem;
    color: #fff; /* Le titre reste blanc par défaut */
    transition: color 0.3s ease; /* Transition fluide pour la couleur */
}

header h1 a {
    text-decoration: none; /* Supprime la décoration du lien */
    color: #fff; /* Le lien à l'intérieur du titre reste blanc */
}

header h1:hover {
    color: deeppink; /* Le titre entier devient deeppink au survol */
}

header h1 a:hover {
    color: deeppink; /* Le lien devient deeppink aussi au survol */
}

header h1 a:visited {
    color: #fff; /* Le lien visité reste blanc */
}
nav ul {
    list-style: none;
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.3s ease; /* Transition fluide */
}

nav ul li a:hover {
    color: deeppink; /* Couleur deep pink au survol */
}

/* Main Content */
main {
    text-align: center;
    padding: 2rem;
}

/* Section pour les réalisations */
.header-realisations {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    color: black;
    font-family: 'Metal Mania';
    font-size: 200%;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

.header-realisations:hover {
    color: deeppink; /* Changement de couleur au survol */
}

.mosaic-realisations {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    text-align: center;
    font-family: 'Metal Mania';
    margin-bottom: 10%;
}

.mosaic-realisations img {
    justify-content: center;
    margin: 0px;
    transition: transform 0.3s ease; /* Transition fluide */
}

.mosaic-realisations img:hover {
    transform: scale(1.1); /* Agrandissement léger au survol */
}

.mosaic-realisations figcaption:hover {
    color: deeppink; /* Couleur deep pink pour les légendes au survol */
}

/* Conteneur principal */
.album-container {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 5rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    background: #f9f9f9;
}

/* Pochette d'album */
.album-container figure {
    margin: 0;
    position: relative;
    z-index: 2;
}

.album-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Titres des morceaux */
#song-titles {
    position: absolute;
    font-family: 'Metal Mania';
    width: 100%;
    height: 100%;
}

#song-titles span {
    position: absolute;
    font-size: 1rem;
    color: #000;
    font-family: 'Metal Mania', sans-serif;
    font-weight: bold;
    white-space: nowrap;
    pointer-events: none;
    transform: translate(-50%, -50%);
    top: var(--y);
    left: var(--x);
}

/* Nouvelle section pour la liste des chansons en dessous de la pochette */
#song-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px; /* Espace entre la pochette et la liste */
}

#song-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;  /* S'assurer que la liste occupe toute la largeur */
    text-align: center;
}

#song-list li {
    margin: 15px 0; /* Espacement entre chaque chanson */
}

#song-list li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    font-family: 'Metal Mania', sans-serif;
    display: block; /* Assure que chaque lien occupe une ligne entière */
    width: 100%;  /* Optionnel : pour que le lien occupe toute la largeur du conteneur */
    transition: color 0.3s ease; /* Transition fluide */
}

#song-list li a:hover {
    color: deeppink; /* Changement de couleur au survol */
}
/* Chaque div occupe une ligne entière */
div {
    display: block; /* Par défaut, les divs sont des éléments de bloc, mais cela peut être spécifié pour être sûr */
    width: 100%; /* Assure que chaque div occupe toute la largeur */
    margin-bottom: 20px; /* Espacement entre chaque section */
}

/* Optionnel : personnalisation de l'apparence des titres et du texte à l'intérieur des divs */
div h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 10px;
}

div p {
    font-size: 1.2rem;
    color: #666;
}
/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 1rem 2rem;
    text-align: center;
    font-size: 0.9rem;
    font-family: 'Metal Mania';
}

footer .tools {
    margin-bottom: 1rem;
}

footer .tools a {
    color: #fff;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1rem;
    transition: color 0.3s ease;
}

footer .tools a:hover {
    color: deeppink;
    text-decoration: underline;
}

